<div class="container mt-4">
  <h1>Lista de Productos</h1>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>#</th>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Stock</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let producto of productos; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ producto.name }}</td>
        <td>{{ producto.price | currency }}</td>
        <td>{{ producto.stock }}</td>
      </tr>
    </tbody>
  </table>
</div>
