<footer class="bg-danger text-light py-5">
  <div class="container">
    <div class="row">

      <div class="col-md-3 mb-3">
        <h5 class="text-uppercase text-warning">Nuestra Tienda</h5>
        <p>
          Somos líderes en tecnología en Ica, ofreciendo lo mejor en
          dispositivos electrónicos desde 1998.
        </p>
      </div>


      <div class="col-md-3 mb-3">
        <h5 class="text-uppercase text-warning">Enlaces útiles</h5>
        <ul class="list-unstyled">
          <li><a href="/12il" class="text-light text-decoration-none">Inicio</a></li>
          <li><a href="/productos" class="text-light text-decoration-none">Productos</a></li>
          <li><a href="/nosotros" class="text-light text-decoration-none">Nosotros</a></li>
        </ul>
      </div>


      <div class="col-md-3 mb-3">
        <h5 class="text-uppercase text-warning">Contáctanos</h5>
        <ul class="list-unstyled">
          <li>
            <i class="bi bi-geo-alt-fill"></i> Calle Principal 123, Ica, Perú
          </li>
          <li><i class="bi bi-telephone-fill"></i> +51 987 654 321</li>
          <li><i class="bi bi-envelope-fill"></i> contacto.com</li>
        </ul>
      </div>


      <div class="col-md-3 mb-3">
        <h5 class="text-uppercase text-warning">Síguenos</h5>
        <div class="d-flex gap-3">
          <a href="#" class="text-light fs-4"><i class="bi bi-facebook"></i></a>
          <a href="#" class="text-light fs-4"><i class="bi bi-instagram"></i></a>
          <a href="#" class="text-light fs-4"><i class="bi bi-twitter"></i></a>
          <a href="#" class="text-light fs-4"><i class="bi bi-youtube"></i></a>
        </div>
      </div>
    </div>


    <div class="text-center mt-4">
      <hr class="bg-light" />
      <p class="mb-0">&copy; 2024 Electrónica Ica. Todos los derechos reservados.</p>
    </div>
  </div>
</footer>
