<nav class="navbar navbar-expand-lg navbar-dark bg-danger">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/inicio" routerLinkActive="active">-12IL-</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/principal/productos" routerLinkActive="active">Productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/principal/nosotros" routerLinkActive="active">Nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
        </li>
        <!-- Enlace de login con icono -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/auth" routerLinkActive="active">
            <i class="bi bi-person-circle"></i> Iniciar sesión
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
